<% if notice %>
  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alter">
    <p><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alter">
    <p><%= alert %></p>
  </div>
<% end %>
